<%- include("./partials/header"); %>
<!-- <div class="container" style="position:relative;">
    <% if(success && success.length > 0){ %>
        <div class="alert alert-success" role="alert">
            <%= success %>
        </div>
    <% } %>
</div>
<div style="position: relative;">
    <img src="bank.jpg" alt="" style="width: 100%;">
    <h2 class="center">Welcome To Our Bank</h2>
    <a href="/customers" role="button" class="btn btn-primary" id="customers">View Customers</a>
    <a href="/transactions" role="button" class="btn btn-primary" id="transactions">View transactions</a>
</div> -->


    <div class="row" id="welcome" style="position: relative;">
        <img src="bank.jpg" alt="" style="width: 100%;height: 500px;">
        <div class="col-lg-6" style="position: absolute;margin-top: 10%;">
            <h2 class="center">Welcome To Our Bank</h2><br>
            <a href="/customers" role="button" class="btn btn-primary" id="customers">View Customers</a>
            <a href="/transactions" role="button" class="btn btn-primary" id="transactions">View transactions</a>
        </div>
    </div>

<%- include("./partials/footer"); %>
    